.advertise {
  width: 100%;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 20px;
  gap: 20px;
}

.advertise .context {
  width: 100%;
  max-width: 500px;
}

.advertise .context h1 span {
  color: #f5f5f5;
  font-weight: 400;
}

.advertise .context h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.advertise .context p {
  font-size: 0.8rem;
  color: #bababa;
  line-height: 20px;
}

.advertise button {
  padding: 10px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: white;
  color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .advertise .context h1 {
    font-size: 2rem;
  }

  .advertise .context{
    max-width: 100%;
  }
}

@media (max-width: 600px) {
    .advertise{
    flex-direction: column;
    }

    .advertise .context{
        text-align: center;
    }

  .advertise .context h1 {
    font-size: 1.5rem;
  }

  .advertise .context p {
    font-size: 0.5rem;
    line-height: 13px;
  }
}
